# **Spam Classifier**

**Importing all the necessary Libraries**

In [129]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

**Loading the dataset**

In [130]:
df = pd.read_csv('C:\\Users\\91701\\Downloads\\spam.csv')

In [131]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [132]:
df.tail()

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [133]:
df.shape

(5572, 2)

In [134]:
df.dtypes

Category    object
Message     object
dtype: object

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [136]:
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

**Checking for null values**

In [137]:
df.isna().any()

Category    False
Message     False
dtype: bool

In [138]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

**So there are no null values associated with it**

In [139]:
df['Category'].unique()

array(['ham', 'spam'], dtype=object)

In [140]:
df['Category'].value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

**Converting categorical data to numerical data**

In [141]:
from sklearn.preprocessing import LabelEncoder

In [142]:
label = LabelEncoder()

In [143]:
df.Category = label.fit_transform(df['Category'])

In [144]:
df.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [145]:
label.fit_transform(['ham','spam'])

array([0, 1], dtype=int64)

**Model Building**

In [146]:
from sklearn.model_selection import train_test_split

In [147]:
x_train,x_test,y_train,y_test = train_test_split(df['Message'],df['Category'],test_size=0.3,random_state=67)

In [148]:
from sklearn.feature_extraction.text import CountVectorizer

In [149]:
count = CountVectorizer()

In [150]:
x_train = count.fit_transform(x_train)

In [151]:
x_test = count.transform(x_test)

In [152]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [153]:
model.fit(x_train,y_train)

MultinomialNB()

In [154]:
y_pred_test = model.predict(x_test)

In [155]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [156]:
print("Accuracy of the model is : ",accuracy_score(y_test,y_pred_test))

Accuracy of the model is :  0.9832535885167464

In [157]:
confusion_matrix(y_test,y_pred_test)

array([[1432,    6],
       [  22,  212]], dtype=int64)

In [158]:
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99      1438
           1       0.97      0.91      0.94       234

    accuracy                           0.98      1672
   macro avg       0.98      0.95      0.96      1672
weighted avg       0.98      0.98      0.98      1672